<section>
  <button
    type="button"
    class="nes-btn w-100"
    [ngClass]="isBg ? 'is-warning' : 'is-primary'"
    (click)="openModal()"
  >
    {{ isBg ? "Background" : "Color" }}
  </button>
  <dialog class="nes-dialog is-dark is-rounded" [id]="id">
    <form method="dialog">
      <div class="row">
        <button
          *ngFor="let color of colors"
          class="nes-button col-md-1 col-xs-1 col-sm-1 m-1"
          [ngStyle]="{
            backgroundColor: color,
            height: '45px'
          }"
          (click)="changeColor(color)"
        ></button>
      </div>
      <menu class="dialog-menu">
        <button class="nes-btn">Cancel</button>
      </menu>
    </form>
  </dialog>
</section>
