<section>
  <button
    type="button"
    class="nes-btn w-100"
    [ngClass]="isBg ? 'is-warning' : 'is-primary'"
    (click)="openModal()"
  >
    {{ isBg ? "Background" : "Color" }}
  </button>
  <dialog class="nes-dialog is-dark is-rounded" [id]="id">
    <form method="dialog">
      <p *ngIf="isBg" class="title">Dark and Rounded dialog</p>
      <p>Alert: this is a dialog.</p>
      <menu class="dialog-menu">
        <button class="nes-btn">Cancel</button>
        <button class="nes-btn is-primary">Confirm</button>
      </menu>
    </form>
  </dialog>
</section>
