<div class="nes-container is-rounded is-dark">
  <div class="container">
    <div class="row">
      <div class="col-10">
        <h4>Iota</h4>
      </div>
      <div class="col-2">
        <a href="#" target="_blank" class="mr-1">
          <i class="nes-icon twitter is-small"></i>
        </a>
        <a href="#" target="_blank" class="mr-1">
          <i class="nes-icon facebook is-small"></i>
        </a>
        <a href="#" target="_blank" class="mr-1">
          <i class="nes-icon gmail is-small"></i>
        </a>
        <a href="#" target="_blank" class="mr-1">
          <i class="nes-icon reddit is-small"></i>
        </a>
      </div>
    </div>
  </div>
</div>
